@page "/"
@inherits IndexBase
@using Toolbelt.Blazor.I18nText

@if (string.IsNullOrWhiteSpace(LocalizationResources.Login_Register) == true)
{
    <p><em>Loading...</em></p>
}

@*@if (LocalizationResources == null)
{
    <p><em>Loading.3..</em></p>
}*@
else if (string.IsNullOrWhiteSpace(_authenticationWebapiUrl) == true)
{
    <p><em>Loading...</em></p>

}
else
{
    <LoginComponent LocalizationResources="@LocalizationResources"></LoginComponent>
}



@*https://getbootstrap.com/docs/4.0/components/buttons/*@
