@inherits InputBase<string>
<input bind="@CurrentValue" type="password" class="@CssClass" />

@functions{
    protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }
}

@*https://www.c-sharpcorner.com/article/validate-your-blazor-form-using-the-editform/*@
@*how Use in EditForm
<div class="col-sm-9">
    <InputPassword Class="form-control" bind-Value="@registerCommand.Password" />
    <ValidationMessage For="@(() => registerCommand.Password)" />
</div>*@  