
<profile-menu>
    @*<ul class="list-unstyled profile-menu-list" style="position: absolute; right: 24px;">
        <li>
             <span @onclick="()=>NavigateToProfileEdit(customerCode)">Edit Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
         </li>
         <li>
             <span @onclick="()=>NavigateToOldProfileEdit(customerCode)">Old</span>
         </li>
         <li>
             <span @onclick="()=>NavigateToProfileShow(customerCode)">Test</span>
         </li>*@
    <div class="row px-0">
        <button class="btn btn-lg profile-menu-inbutton" @onclick="()=>NavigateToProfileEdit(customerCode, email)">Edit Profile</button>
        <div class="profile-menu-line-border row"></div>
    </div>
    <div class="row px-0">
        <button class="btn btn-lg profile-menu-inbutton" @onclick="()=>NavigateToOldProfileEdit(customerCode)">Old</button>
        <div class="profile-menu-line-border row"></div>
    </div>
    <div class="row px-0">
        <button class="btn btn-lg profile-menu-inbutton" @onclick="()=>NavigateToProfileShow(customerCode)">Test</button>
    </div>

    @if (IsShowCustomer)
    {
<div class="row px-0">
    <div class="profile-menu-line-border row"></div>
    <button class="btn btn-lg profile-menu-inbutton" @onclick="()=>NavigateToCustomerGrid(customerCode)">Customers</button>
</div>
        @*<li>
                <span @onclick="()=>NavigateToCustomerGrid(customerCode)">Customers</span>
            </li>*@
    }
    @if (IsShowUsers)
    {
<div class="row px-0">
    <div class="profile-menu-line-border row"></div>
    <button class="btn btn-lg profile-menu-inbutton" @onclick="()=>NavigateToUsersGrid(customerCode)">Users</button>
</div>
        <!--<li>
            <span @onclick="()=>NavigateToUsersGrid(customerCode)">Users</span>-->
        @*<a href="/usergrid/@customerCode" class="p-2 m-2" style="color:green">Users</a>*@
        <!--</li>-->
    }

</profile-menu>


@code{
    [Parameter]
    public string email { get; set; }

    [Parameter]
    public string customerCode { get; set; }

    [Parameter]
    public bool IsShowCustomer { get; set; } = true;

    //[Parameter]
    //public bool IsShowRole { get; set; } = true;

    [Parameter]
    public bool IsShowUsers { get; set; } = true;


    [Inject]
    protected NavigationManager _navigationManager { get; set; }


    public async Task NavigateToProfileEdit(string _customerCode, string _email)
    {

        this._navigationManager.NavigateTo(@"/objectprofilexmlfileedit/" + _customerCode + @"/" + _email);
    }

    public async Task NavigateToOldProfileEdit(string _customerCode)
    {

        this._navigationManager.NavigateTo(@"/objectprofilefileedit/" + _customerCode);
    }

    public async Task NavigateToProfileShow(string _customerCode)
    {

        this._navigationManager.NavigateTo(@"/objectprofilefileshow/" + _customerCode);
    }


    public async Task NavigateToUsersGrid(string _customerCode)
    {

        this._navigationManager.NavigateTo(@"/usergrid/" + _customerCode);
    }


    public async Task NavigateToCustomerGrid(string _customerCode)
    {
        this._navigationManager.NavigateTo(@"/customergrid/" + _customerCode);
    }


}
