@namespace Count4U.Admin.Client.Blazor.Component
@using Monitor.Service.Shared

<span class="badge badge-info"> @Item.Value</span>

@code { [Parameter]
            public ValueItem Item { get; set; } }
