.monaco-editor-container {
    height: 50vh;
    position: sticky;
    top: 0
}

.decorationGlyphMarginClass {
    background: red;
}

.decorationContentClass {
    background: lightblue;
}

div.editorContent {
    height: 50vh;
    position: sticky;
    top: 0
}

.editorContentHidden {
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}