@page "/contact"
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager

<h2>Contact</h2>

<address>
    בנין דרייב אין סנטר, פריימן 20<br />
    ראשון לציון<br />
    <abbr title="Phone">טלפון:</abbr>
    03-9542000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@dimex.co.il">support@dimex.co.il</a><br />
    <strong>Marketing:</strong> <a href="mailto:sales@dimex.co.il">sales@dimex.co.il</a>
</address>
