@*<h3 @onclick=@( _=> Console.WriteLine("Clicked") )>Person</h3>*@

@*<div class="row">
        <div class="col-2">Salutation</div>
        <div class="col-10">@Person?.Salutation</div>
    </div>
    <div class="row">
        <div class="col-2">Given name</div>
        <div class="col-10">@Person?.GivenName</div>
    </div>
    <div class="row">
        <div class="col-2">Family name</div>
        <div class="col-10">@Person?.FamilyName</div>
    </div>
    @code
    {
        [Parameter]
        public Person Person { get; set; }
    }*@

@*<div class="jumbotron text-center">
    <h1>Responsive layout</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12 btn btn-default">
            Column 1
        </div>
        <div class="col-sm-6 col-xs-12 btn btn-default">
            Column 2
        </div>
    </div>
</div>*@
